<li class="list-group-item d-flex justify-content-between">
    <a href="#" class="my-auto font-weight-bold text-dark text-truncate mr-1">{{ user.name }}</a>
    <div class="btn-group dropright">
        <button class="btn bg-light border" data-toggle="dropdown" aria-haspopup="true" aria-extended="false">
            <i class="far fa-caret-square-left my-auto"></i>
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <button class="dropdown-item py-2" onclick="showUser('{{ user.id }}')">Ver<i class="fas fa-eye"></i>
            </button>
            <a href="/users/edit/{{ user.id }}" class="dropdown-item py-2">Editar<i class="far fa-edit"></i>
            </a>
            <button class="dropdown-item py-2" onclick="deleteUser('{{ user.id }}')">Apagar<i class="far fa-trash-alt"></i>
            </button>
        </div>
    </div>
</li>