{% extends 'layout.njk' %}
{% block content %}
    <form class="mt-4 mx-auto border p-4 rounded-lg" method="POST" action="create" style="max-width: 800px; box-shadow: 1px 1px 10px #0000002f">
        {% include './utils/userForm.njk' %}
    </form>

{% endblock %}
{% block script %}
    <script>
        new AutoNumeric("#real", {
            decimalCharacter: ",",
            digitGroupSeparator: "."
        })
        window.addEventListener('load', () => {
            document
                .querySelector('form')
                .reset();
        })
    </script>
{% endblock %}