{% extends 'layout.njk' %}

{% block content %}
    <form class="mt-4 mx-auto border p-4 rounded-lg" method="POST" action="?_method=PUT" style="max-width: 800px; box-shadow: 1px 1px 10px #0000002f">
        <div class="form-group">
            <label for="username">Nome Completo</label>
            <input type="text" name="name" class="form-control" minlength="4" required="required" value="{{ user.name }}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="userphone">Telefone</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">+55 (85)</span>
                    </div>
                    <input type="tel" name="phone" class="form-control" aria-describedby="basic-addon1" maxlength="9" required="required" value="{{ user.phone }}">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="userbought">Valor</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">R$</span>
                    </div>
                    <input type="text" id="real" name="buy" class="form-control" aria-describedby="basic-addon2" required="required" value="{{ user.buy | replace('.', ',') }}">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="usernotes">Notas sobre o usuário</label>
            <textarea class="form-control" name="notes" rows="3">{{ user.notes }}</textarea>
        </div>
        <input type="hidden" name="id" value="{{ user.id }}">
        <button type="submit" class="btn btn-block btn-primary mt-4">Salvar Alterações</button>
    </form>
{% endblock %}
{% block script %}
    <script>
        new AutoNumeric("#real", {
            decimalCharacter: ",",
            digitGroupSeparator: "."
        })
    </script>
{% endblock %}