<html lang="pt-br">
    <head>
        <title>{{ pageTitle }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Um painel administrativo para gerenciar usuários capturar leads">
        <meta name="author" content="Carlos Kauãn">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/610/610106.svg" type="image/x-icon">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">

    </head>
    <body>

        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Meu Sistema
                </div>
                <div class="list-group list-group-flush">
                    <a href="/" class="list-group-item list-group-item-action bg-light">
                        <i class="fas fa-tachometer-alt mr-3"></i>
                        Dashboard
                    </a>
                    <a href="/users" class="list-group-item list-group-item-action bg-light">
                        <i class="fas fa-users mr-3"></i>
                        Fidelizados
                        {% if usersQtd > 0 %}
                            <span class="badge badge-success">{{ usersQtd }}</span>
                        {% endif %}
                    </a>
                    <a href="/users/loyal" class="list-group-item list-group-item-action bg-light">
                        <i class="fas fa-star mr-3"></i>
                        Premiados
                        {% if loyalQtd > 0 %}
                            <span class="badge badge-warning">{{ loyalQtd }}</span>
                        {% endif %}
                    </a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom justify-content-between">
                    <button class="btn btn-transparent menu-toggle">
                        <img src="https://image.flaticon.com/icons/svg/545/545705.svg" width="30" height="30" alt="">
                        {% if loyalQtd > 0 %}
                            <span class="badge badge-warning">{{ loyalQtd }}</span>
                        {% endif %}
                    </button>
                    <h1 class="h4 font-weight-light my-auto">{{ pageTitle }}</h1>
                    <div class="user-profile dropleft">
                        <span class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ loggedUserInfo.picture }}" width="50" height="50" alt="">
                        </span>
                        <div class="dropdown">
                            <div class="dropdown-menu">
                                <h6 class="dropdown-header text-center border-bottom">{{ loggedUserInfo.name }}</h6>
                                <a class="dropdown-item py-2" href="/logout">
                                    Sair
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid px-5 py-2">
                    {% block content %}{% endblock %}
                </div>

            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.1.0"></script>

        <!-- Menu Toggle Script -->
        <script src="/assets/js/index.js"></script>
        {% block script %}{% endblock %}
    </body>

</html>