<!doctype html>
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Fonts -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/610/610106.svg" type="image/x-icon">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <title>Login</title>
    </head>
    <body>
        <div class="main-content">
            <div class="loginForm form-group border py-4 px-5 bg-light">
                <form action="">
                    <fieldset>
                        <legend class="h3 font-weight-light mb-4 text-center border-bottom pb-2">Painel de Controle</legend>
                        <label for="username">Usuário</label>
                        <input type="text" class="form-control" disabled name="username">
                        <label for="password" class="mt-2">Senha</label>
                        <input type="text" class="form-control" disabled name="password">
                        <input type="checkbox" name="saveLogin" class="mt-4" disabled>
                        <label for="saveLogin" class="text-muted">Permanecer conectado?</label>
                        <button class="btn btn-block mt-4 btn-primary" type="submit" disabled>Logar</button>
                        <small class="text-muted text-center d-block my-1 font-italic">ou</small>
                        <a href="/login" class="google-btn btn btn-block" type="submit">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" width="20" height="20" alt="Google">
                            Login com o Google</button>
                        <a href="#" class="d-block text-center mt-3">Esqueceu a senha?</a>
                    </fieldset>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="/assets/js/bootstrap.min.js"></script>

    </body>
</html>